#logo a{width: 250px; height: 70px; text-indent: -9999px; display: block;background: url(../img/logo.png) no-repeat left; background-size: 210px}
#foto1{width: 100%}
aside{width: 30%;}
h2#eu{text-align: center;}
#conteudo1, #cell1, #cell2, #med1, #med2, #comp1, #comp2{width: 55%;}
#titulo-cont{text-align: center;}
#legenda1{margin-left: 10px; font-size: 16px}
#foto2{width: 100%;}
body{background: #E7E7E6}
#login{text-align: center; font-size: 20px}
h2#contato{margin-left: 20px}
#cont{margin-left: 30px}
#cont-lista{list-style: square;}
ul#cont-lista li{margin: 5px 0 5px 0}
h3.noticia{font-size: 20px}
ul#lista-lado {list-style: none;}
#lista{width: 170px; float: right; padding-right: 10px; background: #cecece; padding-top: 5px}
#cartao{float: right;}
@media(max-width: 768px){#conteudo1, #cell1, #cell2, #med1, #med2, #comp1, #comp2{width: 100%; text-align: center;}}
@media(max-width: 576px){#conteudo1, #cell1, #cell2, #med1, #med2, #comp1, #comp2{width: 100%; text-align: center;}}
aside{float: right;}
#cellConteudo{text-align: center;}
#copy{text-align: center; font-size: 30px; margin-top: 20px}